body {
  background-image: url('../resources/back.png');
  margin: 0px;
}

.white {
  background-color: rgb(65, 89, 125)
}

h1 {
  top: 60px;
  font-size: 550%;
  margin-top: 150px;
  font-family: Poppins;
}

#menu {
  position: sticky;
  top: 0px;
}

.white {
  position: sticky;
  z-index: -1;
  top: 100px;
  filter: drop-shadow(0 1vw 0.5vw rgba rgb(73, 47, 159));
}

#prof {
width: 100%;
z-index: -3;
margin-bottom: 300px
}

#santamaria {
  border-radius: 5%;

  background: url(img/tiger.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #3d3082;
  -webkit-box-shadow: 10px 10px 5px #3d3082;
  box-shadow: 10px 10px 5px #3d3082;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

p {
  font-family: Poppins, sans-serif;
}

#churchtext {
  font-size: 17px;
  color: black;
}

#anton {
  font-size: 17px;
  color: black;

}

#churchtext span {
  background-color: rgb(212, 212, 212);
}

#anton span {
  background-color: rgb(212, 212, 212);
}


@media screen and (max-width: 850px) {
  #prof {
      display: none;
  }

  h1{
    text-align: center;
  }

  #character {
    text-align: center;
  }

  .white {
    padding-right: 20px; 
  }


}

#florence1 span {
  background-color: white;
}

#rome2 span {
  background-color: white;
}

#milan3 span {
  background-color: white;
}

#siena4 span {
  background-color: white;
}

#venice5 span {
  background-color: white;
}
