body {
  background-image: url('../resources/santamaria.webp');
  margin: 0px;
}

.white {
  background-color: rgb(65, 89, 125)
}

h1 {
  top: 60px;
  font-size: 10vh;
  margin-top: 150px;
  font-family: Poppins;
  width: 100%;
}

#menu {
  position: sticky;
  top: 0px;
}

.white {
  position: sticky;
  z-index: -1;
  top: 100px;
}

#prof {
width: 100%;
z-index: -3;
margin-bottom: 300px
}

#santamaria {
  border-radius: 5%;
  box-shadow: 10px 10px 5px #3d3082;
  border-radius:25px;
}

p {
  font-family: Poppins, sans-serif;
}

#churchtext {
  font-size: 17px;
  color: black;
}

#anton {
  font-size: 17px;
  color: black;

}

#churchtext span {
  background-color: rgb(212, 212, 212);
}

#anton span {
  background-color: rgb(212, 212, 212);
}


@media screen and (max-width: 850px) {
  #prof {
      display: none;
  }

  h1{
    text-align: center;
  }

  #character {
    text-align: center;
  }

  .white {
  }

  h1 {
    top: 60px;
    font-size: 8vh;
    margin-top: 150px;
    font-family: Poppins;
    width: 100%;
  }

}

#florence1 span {
  background-color: white;
}

#rome2 span {
  background-color: white;
}

#milan3 span {
  background-color: white;
}

#siena4 span {
  background-color: white;
}

#venice5 span {
  background-color: white;
}



#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: rgb(220, 142, 129);*/
}

.menuitem {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(195, 97, 144);
}

.menu.scrolled {
  background-color: rgb(77, 68, 148) !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
